<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1><%= 'おしゃれなコーディネート画像まとめ' %></h1>
        <%= render :partial => "/top/social_button.html.erb" %>
        <div class="well">
          <h4>Instagramとは？</h4>
          <p><a href="http://instagram.com/">写真を撮影して共有できるスマートフォン用アプリ</a>です。</p>
          <p><%= t('views.header.description') %></p>
        </div>
      </div>
      <%= render :partial => "/top/sponsor" %>
    </div>
  </div>

  <div class="row">
  <% @results.each do |media| %>
      <a href="<%= media[:link] %>" target='_blnak'>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="<%= media[:images][:low_resolution][:url] %>" class="" alt="Responsive image">
        </div>
      </div>
    </a>
  <% end %>
  </div>

  <div class="btn-group btn-group-justified">
    <div class="btn-group">
        <a class="btn btn-default" href="<%= root_url(max_id: @next_max_id)%>" role="button">もっとみる</a>
    </div>
  </div>
</div> <!-- /container -->
