<% content_for :title do show_title end %>
<% content_for :description do show_description end %>
<% content_for :image do @media[:images][:thumbnail][:url] if @media.present? end %>
<div class="row">

<% if @media.blank? %>
  <div class="col-lg-12 text-center">
    <div class="thumbnail">
    掲載終了しました
    </div>
  </div>
<% else %>
  <div class="col-lg-12">
    <div class="thumbnail clearfix">
      <%= link_to(image_tag(@media[:images][:standard_resolution][:url], class: "pull-left", alt: @media[:caption].try(:text)), @media[:link], target: "_blank") %>
      <div class="row">
        <div class="col-lg-5">
          <p>
            <%= image_tag(@media[:caption][:from][:profile_picture], class: "img-circle", style: "width:50px;height:50px;") %>
            <b><%= @media[:user][:username] %></b>
            <% if false %>
            <b><%#= link_to(@media[:caption][:from][:username], user_url(@media[:user][:id]), style: 'color:#000000;', target: "_blank" ) %></b>
            <% end %>
          </p>

          <div class="well well-sm" style="word-break:break-all"><%= @media[:caption].try(:text) %></div>

          <div style="margin-bottom:20px;">
            <div><span class="glyphicon glyphicon-thumbs-up"></span> <%= "#{@media[:likes][:count]}件" %></div>
            <% if @media[:likes][:count].nonzero? %>
              <p>
              <% @media[:likes][:data][0..3].each do |user| %>
                <span class="label label-default"><%= "#{user[:username]}" %></span>
            <% if false %>
                <a href="<%= user_url(user[:id]) %>" target="_blank"><span class="label label-default"><%= "#{user[:username]}" %></span></a>
            <% end %>
              <% end %>
              <% if @media[:likes][:count] > 4 %>...<% end %>
              </p>
            <% end %>
          </div>

          <div style="margin-bottom:20px;">
            <div><span class="glyphicon glyphicon-comment"></span> <%= "#{@media[:comments][:count]}件" %></div>
            <% if @media[:comments][:count].nonzero? %>
              <% @media[:comments][:data][0..5].each do |user| %>
                <p style="word-break:break-all">
                  <%= image_tag(user[:from][:profile_picture], style: "width:25px;height:25px;") %>
                  <%= user[:from][:username] %>
            <% if false %>
                  <%#= link_to(user[:from][:username], user_url(user[:from][:id]), target: "_blank") %>
            <% end %>
                  <%= user[:text] %>
                </p>
              <% end %>
            <% end %>
          </div>

        </div> <!-- /col-lg-4 -->
      </div> <!-- /row -->

    </div> <!-- /thumbnail -->

  </div> <!-- /col-lg-12 -->
<% end %>

</div> <!-- /row -->

<div id="topics" class="page-header">
  <div>
    <h4><%= link_to("おすすめ画像", root_url, style: 'color:#000000;', target: "_blank") %></h4>
  </div>
</div>
<%= render :partial => "/top/contents" %>

<div class="text-center" style="margin-bottom:120px;">
  <a href="<%= root_url %>" class="btn btn-default btn-lg" role="button">もっとみる <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
