<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : t('views.header.keywords') %>" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('views.header.description') %>" />
    <title><%= content_for?(:title) ? yield(:title) : t('views.header.title') %></title>
    <%= csrf_meta_tags %>

    <link rel="canonical" href="<%= request.url %>" />
    <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">

    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : t('views.header.title') %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= params[:action] == 'show' && @media.present? ? @media[:images][:low_resolution][:url] : @results.first[:images][:low_resolution][:url] %>"/>
    <meta property="og:url" content="<%= request.url.gsub(/\?.+$/,'') %>"/>
    <meta property="og:site_name" content="<%= t('views.header.title') %>"/>
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : t('views.header.description') %>" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  </head>
  <body>
    <%= render :partial => "/layouts/google_analytics" %>

    <div class="container">
      <%= render :partial => "/top/page_header" %>

      <%= yield %>

    </div> <!-- /container -->

    <%= render :partial => "/layouts/footer_ads" %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-542a1e7d1b344df0" async></script>
  </body>
</html>
